@page "/courses/create"
@using CodeRank.App.Models
@inject CourseService CourseService
@inject NavigationManager NavigationManager

<h3>Create New Course</h3>

<EditForm Model="@newCourse" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="title">Title:</label>
        <InputText id="title" @bind-Value="newCourse.Title" class="form-control" />
    </div>

    

    <div class="form-group">
        <label for="startDate">Start Date:</label>
        <InputDate id="startDate" @bind-Value="newCourse.StartDate" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create Course</button>
</EditForm>

@code {
    private CreateCourseRequest newCourse = new CreateCourseRequest();
  


    private async Task HandleValidSubmit()
    {
        var courseId = await CourseService.CreateCourseAsync(newCourse);
        NavigationManager.NavigateTo($"/courses/{courseId}");
    }
}