<ul class="list-unstyled components">
    <li>
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <i class="fas fa-home"></i> Home
        </NavLink>
    </li>
    <!-- Add more menu items here, for example: -->
    <li>
        <NavLink class="nav-link" href="profile">
            <i class="fas fa-user"></i> Profile
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="courses">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Courses
        </NavLink>
    </li>
</ul>